<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="NewCrm" connectionString="Data Source=39.106.106.137;Initial Catalog=Test;Persist Security Info=True;User ID=sa;Password=xiaofanalahuakeba@.1;Pooling=True;Min Pool Size=1;Max Pool Size=5;MultipleActiveResultSets=True;Connect Timeout=10"/>
  </connectionStrings>
   
</configuration>